@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* Printable layout styling */
@media print {
  body {
    background: white !important;
    color: black !important;
  }

  header, aside, button, nav, .print\:hidden {
    display: none !important;
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:border-none {
    border: none !important;
  }
}
